<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/flickity.css" media="screen">
<link rel="stylesheet" href="./css/search_page.css" media="screen">
<script>
   var user_name = <%- user_name %> 
   var search_page_id = <%- search_page_id %> 
   var user_query = <%- user_query %> 
   var task_id = <%- task_id %> 
</script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="./js/jquery.validate.js"></script>
<script src="./js/client.js"></script>
<script src="./js/flickity.pkgd.js"></script>
</head>
<body>


<form id='search_form' class = 'search_form' method="GET">
   <input type="text" name="search_input" id="search_input"
   value="<% user_query %>" tabindex="2">
   <input type="submit" name="search_submit" id="search_submit" value="Search">
   <input type ='hidden' id = 'user_name' value = '<% user_name %>'/>
	<input type ='hidden' id = 'task_id' value = '<%task_id %>'/>
   <input type ='hidden' id = 'query_id' value = ''/>
  <input type ='hidden' id = 'search_page_id' value = '<%search_page_id %>'/>
	<div id='search_form_error'> </div>
</form>

<div id = 'search_results'>

</div>

<div id = 'page_nav'>
	<a href = '#' id = 'prev_page' float = 'left'> << Prev </a> 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href = '#' id = 'next_page', float = 'right'> Next >> </a>
</div>

</body>

</html>
