<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/flickity.css" media="screen">
<link rel="stylesheet" href="./css/search_page.css" media="screen">
</head>
<body>


<form id='search-form-center' method= 'POST'>
<div id = 'search-box-center'>



</div>
</form>


<form id='search-form-top' class = 'search-form-top' method = 'POST'>
   <input type="text" name="search-input-top" id="search-input-top" placeholder="Keywords..." tabindex="2">
   <input type="submit" name="search-submit-top" id="search-submit-top" value="Search">
</form>


<div id = 'search-results'>
	

	<div id = 'r1'>
	</div>

	<div id = 'r2'>
	</div>

	<div id = 'r3'>
	</div>

</div>

<div class = 'organic-box'>
	<div class = 'card'>
	  <div class = 'card-top'>
		<h3 class = 'card-heading'> <a> BZ20 By Boyzone... </a> </h3>
		<span class ='domain'> m.youtube.com/wa... </span>
	  </div>
	  <div class = 'card-bottom'> 
	  Buy
		  <em>Boyzone</em> Tickets from the Official Ticketmaster UK site. Find
		  <em>Boyzone</em> tour dates, event details, reviews and
		  much&nbsp;...
	  </div>
	</div>
</div>


<div class = 'video-box'>

<div class = 'card'>
<div class ='card-top' >
<h3 class = 'card-heading'> <a> Boyzone </a> </h3>
<span class ='domain'> m.youtube.com/wa... </span>
</div>
<div class = 'video-bottom'>
<div class = 'video-thumbnail'>
<a href="http://m.youtube.com/watch?v=7eul_Vt6SZY" ><span ><img alt="Video for
		boyzone" src= '../img/download.jpg'></span></a>

</div>
<div class = 'video-info' > <span class='time-creation' >Time </span> Attributes  </div>
</div> 
</div>
</div> 

<div class = 'image-box'>
<div class = 'card'>
<div > Images </div>

<div class = 'main-gallery js-flickity' id = 'image-search-results' 
	data-flickity-options='{"cellAlign":"left", "contain":true , "prevNextButtons": false,  "pageDots": false, "resize":true}'>
	<div class="gallery-cell">  <a> <img src =
		'../img/40_1resized___HOLI_LB2012_002.jpg  '> </a> </div>
	<div class="gallery-cell"> <img src =
		'../img/friends-anniversary-main.jpg ' > </div>
  <div class="gallery-cell"> <img src =
	  '../img/Big-Bang-Fair-2014_1-300x225.jpg ' > </div>
  <div class="gallery-cell"> <img src =
	  '../img/11429037_10153397369389813_8239213770649931342_n.jpg '> </div>
  <div class="gallery-cell"> <img src =
	  '../img/66e6deb0-9242-11e3-9925-21bc8763600a_IMG_6340.jpg '> </div>

</div>
</div>
</div>

<script src="../js/flickity.pkgd.min.js"></script>

<div>
  <iframe src="http://forums.macrumors.com/threads/apple-ipad-3-official-dead-pixel-policy.1376397/">

  </iframe>

</div>
</body>

</html>
