<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/flickity.css" media="screen">
<link rel="stylesheet" href="./css/search_page.css" media="screen">
</head>
<body>
<input type ='hidden' id = 'user_name' value = '<% user_name %>'/>
<input type ='hidden' id = 'task_id' value = '<%task_id %>'/>
<input type ='hidden' id = 'search_page_id' value = '<%search_page_id %>'/>

<form id='search_form' class = 'search_form' method = 'POST'>
   <input type="text" name="search_input" id="search_input"
   value="<% user_query %>" tabindex="2">
   <input type="submit" name="search_submit" id="search_submit" value="Search">
	<div id='search_form_error'> </div>
</form>

<div id = 'search_results'>
	


</div>

<script src="../js/flickity.pkgd.min.js"></script>

</body>

</html>
