/* Error bar */
*.warning {
    border: solid darkred 2px;
    padding: 3px;
    background-color: #f77;
}



/** Search box **/
.search_form {
    width: 98%;
    padding: 8px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    border-radius: 5px;    
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

.search_form #search_input {
    width: 68%;
    height: 43px;
    padding: 10px 5px;
    float: left;    
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px;      
}

.search_form #search_input:focus {
    outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset;  
}

.search_form #search_input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

.search_form #search_input:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.search_form #search_input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 

.search_form #search_submit {
    float: right;    
    border: 1px solid #00748f;
    height: 42px;
    width: 30%;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;    
    background-color: #0483a0;
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;      
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}
  
.search_form #search_submit:hover,
.search_form #search_submit:focus {       
    background-color: #31b2c3;
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}   
  
.search_form #search_submit:active {
    outline: 0;    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}
  
.search_form #search_submit::-moz-focus-inner {
    border: 0;
}


/************************************************/

.page_nav {
	text-align : center;
}


/* Search page */
* {
	  -webkit-box-sizing: border-box;
	    box-sizing: border-box;
}


body { font-family: sans-serif; background: #f2f2f2; }

.gallery {
	  background: none repeat scroll 0% 0%;
	  opacity: 1;
}

.gallery_cell {
	  width:50%;
	  background: white;
	  height: 146px;
	  margin-bottom: 10px;
	  margin-top: 10px;
	  padding-left: 3px;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-align-items: center;
	  align-items: center;
}


.gallery_cell img {
  display: block;
  width: 90%;
  height: 146px;
  min-width: 80px;
  box-shadow : 2px 2px 1px #C8C2C2;
  min-height: 80px;
	/* dim unselected */
  opacity: 1;
}

.card{
padding: 11px 16px 11px 16px;
display : block;
margin :0;
}

.image_box {
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 /* box-shadow:  1px 2px 1px 1px #C8C2C2; */
 color: rgba(0, 0, 0, 0.54);
 border-radius: 2px;
 margin: 0 0 10px 0;
 display : block;
 background: white;
}

.video_box {
 /*box-shadow:  1px 2px 1px 1px #C8C2C2;*/
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 border-radius: 2px;
 margin: 0 0 10px 0;
 display : block;
 word-wrap: break-word;
 text-align : left;
 background: white;
}


.organic_box {
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 border-radius: 2px;
 margin: 0 0 10px 0;
 display : block;
 word-wrap: break-word;
 text-align : left;
 background: white;

}


.card_top {
	border-bottom: 1px solid #ebebeb;
	display: block;
	margin: 2px -16px 9px -16px;
	padding: 0 16px 10px 16px;

}

.video_bottom {
display: inline-block;
width: 100%;

}
.video_thumbnail {
 float: left;
 overflow: hidden;
 margin-top: 0.5%;
 margin-right: 1%;
 margin-bottom: 1%;
 position: relative;
 display: inline-block;
 width: 40%;
 height: 143px;
}

.video_thumbnail img {
  display: block;
  width: 90%;
  height: 146px;
  min-width: 80px;
  min-height: 80px;
	/* dim unselected */
  opacity: 1;
}

.card_bottom {
display: inline-block;
width: 100%;
text-overflow: ellipsis;
}

.card_heading {
/* Heading */
	margin:0;
	padding:0;
	text-overflow: ellipsis;

}

/* Domain url */ 
.domain {
	display:inline-block;
    margin-top: -2px;
	overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
	color: #006621;
    font-style: normal;
	max-width: 95%;
    white-space: nowrap;
}

.video_info {
 margin: 5px;
 position: right;
 width:98%;
 padding-left: 10%;
 text-overflow: ellipsis;

}

.time_creation{
color: #777;
}



a {
 color : #1a0dab;
}

a:visited {
color : #609;

} 

